body {
  background: #ffdede;
  /* HEX #と6桁の16進数で色を表す方法。
  RRGGBB
  */
  line-height: 1.8;
}
article {
  width: 960px;
  margin: 0 auto;
  background: rgb(255, 241, 203);
}

h1 {
  color: rgb(255, 169, 169);
  font-size: 150%;
  background: rgb(197, 253, 255);
  text-align: center;
  padding: 7px;
  margin-bottom: 1em;
  border-radius: 15px;
  /* 
  margin: 0
  値が一つの場合は上下左右
  margin: 0 0
  値が二つの場合は上下　左右
  margin: 0 0 0
  値が3つの場合は　上　左右　下
  margin: 0 0 0 0
  値が4つの場合は上　右　下　左
  */
}

h2 {
  background: #ffd9fc;
  padding: 5px;
  color: rgb(121, 141, 252);
  border-radius: 15px;
}

h3 {
  background: #ffd9fc;
  padding: 5px;
  color: rgb(142, 159, 255);
  border-radius: 15px;
}

p {
  margin-bottom: 1em;
  font-size: 100%;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
}

nav {
  background: #b1e9ff;
  width: 250px;
  margin-bottom: 1em;
  border-radius: 15px;
}

.index {
  font-size: 14px;
  background: #d5a5ff;
  padding: 6px;
  margin-bottom: 1em;
  border-radius: 15px;
}

li {
  margin-left: 2.5em;
}
/* HTMLの親子関係を利用して特定する方法。子孫セレクタ */
/* 来週は疑似リンクセレクタやら、CSSのプロパティやらを勉強して、このWIKIのファイルをデザインしていきます。CSSリセットする方法も教えます */

/* 疑似リンククラスセレクタは以下 */
a:link {
  color: #008000;
  text-decoration: none;
}
a:visited {
  color: #008000;
  text-decoration: none;
}
/*a:hover {
  color: #ff0000;
  text-decoration: underline;
  font-size: 40px;
  background: pink;
}
a:active {
  color: #ff8000;
  text-decoration: underline;*/
}

strong {
  font-size: 150%;
  text-align: center;
  padding: 7px;
  margin-bottom: 1em;
  border-radius: 15px;
}

/* 次週はCSS3で出てきたプロパティを少し勉強します。そしてこのファイルを自分なりにカスタムして提出してもらう予定 */
